@media all   and (min-width:871px){
	.container {
		display: flex;
		flex-flow: wrap;
	}
}

/*
* Responsive 100%
*/
@media all  and (max-width:870px) and (min-width:549px){
	.container {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
	}
	#restaurants-list li{
		padding: 0 40px
	}
}

/**
* Nexus 5 100%
*/
@media all  and (max-width:700px) and (min-width:400px){
	.container {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
	}
	.filter-options{
		height: 100px;;
		padding: 0 100px 25px;
	}
}
/**
* Galaxy S5 100%
*/
@media all  and (max-width:640px) and (min-width:360px){
	
	.filter-options{
		height: 100px;;
		padding: 0 20px 25px;
	}
	#restaurants-list li{
		padding: 0;
		flex-flow: row;
	}
}

